<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.rug.shyhi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shyhi_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ConversationsActivity"
            android:label="@string/title_activity_conversations" >
        </activity>
        <activity
            android:name=".ConvoActivity"
            android:label="@string/title_activity_convo"
            android:parentActivityName=".ConversationsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.rug.shyhi.ConversationsActivity" />
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="Shy Hi" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgressPage"
            android:label="@string/title_activity_progress_page" 
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.rug.shyhi.HomeScreen" />
        </activity>
        <service android:name=".ConvoUpdateService"/>
        <service android:name=".UpdaterService"/>
        
    </application>

</manifest>
